.container{
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 11%;
}

.container .footer {
    width: 100%;
}

.popup-button.primary{
    box-shadow:none;
    background: #1165f1;
    color: #fff;
    padding: 11px;
    margin: 20px;
    outline: none;
    border: none;
}

.popup-button.secondary {
    box-shadow: none;
    background: transparent;
    color: #1165f1;
    padding: 10px;
    outline: none;
    border: none;
}

#pushnotification img{
    width: 97%;
    margin-left: -66px;
}